<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        @font-face {
            font-family: "ibm-plex-sans";
            src: url(https://unpkg.com/carbon-components@10.56.0/src/globals/fonts/IBMPlexSans-Regular.woff);
        }

        @font-face {
            font-family: "ibm-plex-sans-bold";
            src: url(https://unpkg.com/carbon-components@10.56.0/src/globals/fonts/IBMPlexSans-SemiBold-Latin1.woff2);
        }

        body {
            font-family: "ibm-plex-sans";
            background-color: #f4f7fb;
            margin: 0;
            padding: 0;
        }

        h1 {
            font-family: "ibm-plex-sans-bold";
            background-color: #162835;
            text-align: left;
            color: white;
            font-size: 17px;
            padding: 8px;
            font-weight: bold;
            margin: 0;
        }

        p {
            font-family: "ibm-plex-sans-bold";
            font-weight: bold;
            font-size: 1.125rem;
            margin: 0px;
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            text-align: center;
        }

        h5 {
            font-weight: 300;
            font-size: 0.75rem;
            margin: 0px;
            line-height: unset;
            text-align: center;
            margin-block-start: 1.67em;
            margin-block-end: 1.67em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            display: block;

        }

        /* Summary Grid */

        .grid-container {
            display: grid;
            grid-template-columns:  repeat(4, 1fr);
            gap: 10px 6px;
            margin-top: 25px;
            background-color: #f4f7fb;
        }

        .grid-item {
            background-color: rgb(252, 243, 204);
            margin: 5px;
            margin-top: 5px;
            margin-right: 5px;
            margin-bottom: 5px;
            margin-left: 5px;
            background-color: white
        }


        /* Main Table */
        .styled-table {
            font-family: "ibm-plex-sans";
            border-collapse: collapse;
            margin: 25px 0;
            margin-left: 10px;
            margin-right: 10px;
            font-size: 14px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
        }

        .styled-table tbody tr {
            border-bottom: 1px solid #dddddd;
            display: grid;
            grid-template-columns: 450px 100px 300px 220px repeat(2, 1fr);
            justify-content: flex-start;
            background-color: white;
        }

        .styled-table tbody tr:first-child {
            font-family: "ibm-plex-sans-bold";
            font-size: 15px;
            background-color: #f4f7fb;
            color: #152935;
            font-weight: 500;
            text-align: left;

        }

        .styled-table tr:hover {
            background-color: #dfeafa;
        }

        /* Collapsible table row */


        .hide-row {
            display: none;
        }

        .expanded-row-content {
            border-top: 2px solid #162835;
            grid-column: 1/-1;
            justify-content: flex-start;
            white-space: pre-wrap;
            background-color: white;
            font-size: 12px;
            overflow-wrap: break-word;
        }


        /* Action buttons */
        .add-btn {
            color: #152935;
            cursor: pointer;
            margin-right: 6px;
        }

        .sort-btn {
            color: #152935;
            cursor: pointer;
            text-align: right;
            float: right;
        }

        /* Test status tags */
        .status {
            font-family: "ibm-plex-sans-bold";
            color: white;
            border-radius: 4px;
            font-size: 12px;
            font-weight: bold;
            line-height: 0px;
            letter-spacing: 0.4px;
            text-transform: uppercase;
            width: fit-content;
            align-self: center;
            text-align: center;
        }

        .failed {
            background-color: rgb(231 29 50);
        }

        .passed {
            background-color: rgb(0 133 115);
        }
    </style>
<script>
const toggleRow = (element) => {
       element.parentElement.parentElement.getElementsByClassName('expanded-row-content')[0].classList.toggle('hide-row');
}

function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc";
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>